{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'materialize/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<title>BASENESS</title>
	<script src="{% static 'jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'materialize/materialize.min.js' %}"></script>
	<script src="{% static 'main.js' %}"></script>
</head>
<body>
	<nav>
    <div class="nav-wrapper">
      <a href="{% url 'heroes:index' %}" class="brand-logo">Heroes</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'heroes:login' %}">Login</a></li>
        <li><a href="badges.html">Hero List</a></li>
        <li><a href="{% url 'heroes:logout' %}">Log Out</a></li>
      </ul>
    </div>
  </nav>

	<div class='container'>
		{% block content %}

			<a href="{% url 'heroes:login' %}">
				<h3>CLICK HERE TO LOGIN</h3>
			</a>

				
		{% endblock content %}
	</div>

</body>
</html>