h1{
	color: red;
}

/*Had to change the span to a p tag. Text align only works on p tag and header tags*/
.card .card-title{
	text-align: center;
	text-decoration: underline;
	font-size: 2.4em;
}

.card .card-action{
	width: 50%;
	margin: 0 auto;
}

.card-action a{
	margin-right: 0px;
	margin-left: 20px;
}